<a href="https://colab.research.google.com/github/madhants/Madhan/blob/main/Dictionary%20program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
student = {
    "name": "Alice",
    "age": 20,
    "grade": "A"
}

print(student)

{'name': 'Alice', 'age': 20, 'grade': 'A'}

In [2]:
person = {
    "name": "John",
    "city": "Chennai"
}

print("Name:", person["name"])
print("City:", person["city"])

Name: John
City: Chennai

In [3]:
info = {}
info["name"] = "Rahul"
info["age"] = 22

print(info)

{'name': 'Rahul', 'age': 22}

In [4]:
marks = {
    "Math": 90,
    "Science": 85,
    "English": 88
}

for subject, score in marks.items():
    print(subject, ":", score)

Math : 90
Science : 85
English : 88