<a href="https://colab.research.google.com/github/madhants/Madhan/blob/main/Dictionary%20program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
student = {
    "name": "Alice",
    "age": 20,
    "grade": "A"
}

print(student)

{'name': 'Alice', 'age': 20, 'grade': 'A'}

In [ ]:
person = {
    "name": "John",
    "city": "Chennai"
}

print("Name:", person["name"])
print("City:", person["city"])

Name: John
City: Chennai

In [ ]:
info = {}
info["name"] = "Rahul"
info["age"] = 22

print(info)

{'name': 'Rahul', 'age': 22}

In [ ]:
marks = {
    "Math": 90,
    "Science": 85,
    "English": 88
}

for subject, score in marks.items():
    print(subject, ":", score)

Math : 90
Science : 85
English : 88

In [1]:
data = {
    "brand": "Nike",
    "category": "Shoes"
}

print(data["brand"].upper())    # NIKE
print(data["category"].lower()) # shoes

NIKE
shoes