<a href="https://colab.research.google.com/github/madhants/Madhan/blob/main/For%20loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
shopping_list = ["milk", "eggs", "bread", "butter"]
for item in shopping_list:
    print("Buy:", item)

Buy: milk
Buy: eggs
Buy: bread
Buy: butter

In [2]:

students = {
    "Alice": 85,
    "Bob": 90,
    "Charlie": 78
}

for name in students:
    print(name, "scored", students[name])

Alice scored 85
Bob scored 90
Charlie scored 78

In [3]:
temperatures = [30, 32, 31, 29, 33]
total = 0
for temp in temperatures:
    total += temp
average = total / len(temperatures)
print("Average temperature:", average)

Average temperature: 31.0

In [4]:
books = ["The Alchemist", "Atomic Habits", "Rich Dad Poor Dad"]
for book in books:
    print("You need to read:", book)

You need to read: The Alchemist
You need to read: Atomic Habits
You need to read: Rich Dad Poor Dad

In [5]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [6]:
total = 0
for i in range(1, 6):
    total += i
print("Sum:", total)

Sum: 15

In [7]:
word = "hello"
for char in word:
    print(char)

h
e
l
l
o